html{
  align-items: center;
  margin: 0;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    color: rgb(211, 201, 210);
    
  }
  
  a {
    text-decoration: none;
  }
  
  .menu a {
    font-size: 30px;
    font-weight: bolder;
    color: inherit;
    padding: 10px;
    border-radius: 10px;
  }
  
  .menu a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
  
  nav {
    position: sticky;
    top: 20px;
    margin: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    color: darkmagenta;
    font-size: 66px;
    font-weight: 900;
    font-style: normal;
    
  }

  h2 {
    font-size: xx-large;
    font-weight: 800;
  }

  p {
    font-weight: 400;
    font-size: x-large;
  }
   
  #hero {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 120px;

  }
  

  .hero-right {
    padding-left: 30px;
    width: 50%;
  }

  button {
    padding: 5px 15px;
    font-family: "Archivo Black", sans-serif !important;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: darkmagenta;
    color: inherit;
  }

  img {
    border-radius: 50%;
  }

  #about {
    display: flex;
    padding: 50px 300px;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    
  }
